main {
  display: flex;
  padding: 100px;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

#editor {
  padding: 10px;
  border-right: 12pt solid gray;
  border-bottom: 12pt solid gray;
  height: fit-content;
  line-height: 17pt;
  font-family: 'Titillium Web', sans-serif;
  margin-right: 50px;
}

p {
  width: 350px;
}

#list {
  margin-left: 40%;
  font-family: cursive;
  font-size: 28pt;
}
