main {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 10px;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

#editor {
  font-family: 'Titillium Web', sans-serif;
  border-right: 12pt solid rgb(236, 236, 236);
  border-bottom: 12pt solid rgb(236, 236, 236);
  height: fit-content;
  margin-right: 90px;
  margin-top: 175px;
}

p {
  width: 350px;
}

#list {
  margin-left: 40%;
  font-family: cursive;
  font-size: 28pt;
}
